<%= form_tag update_project_path(project['id']), method: :patch do %>
  <div class="mb-3">
    <%= label_tag :name, "Projeto"%>
    <%= text_field_tag :name, project['name'], class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= label_tag :image_url, "Imagem do projeto"%>
    <%= text_field_tag :image_url, project['image_url'], class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= label_tag :description, "Descrição"%>
    <%= text_area_tag :description, project['description'], class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= label_tag :repository_url, "Repositório"%>
    <%= text_field_tag :repository_url, project['repository_url'], class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= label_tag :hosting_url, "Hospedagem"%>
    <%= text_field_tag :hosting_url, project['hosting_url'], class: "form-control"%>
  </div>
  <ul class="mb-3 list-unstyled ">
    <%= label_tag :techs, "Tecnologias" %>
    <% project['techs'].each do |tech| %>
      <li>
        <div class="form-group ">
          <div class="form-group">
            <%= text_field_tag "project[techs][][id]", tech['id'], class: "form-control d-none" %>
            <%= text_field_tag "project[techs][][description]", tech['name'], class: "form-control mb-2" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <br>
  <div>
    <%= link_to "Voltar", show_project_path(project['id']), class: "btn btn-secondary" %>
    <%= submit_tag "Salvar", class: "btn btn-success" %>
  </div>
<%end %>
