<div class="d-flex flex-column gap-8 position-relative mx-auto">
  <h1 class="text-primary">Perfil</h1>
  <%= link_to "Editar", edit_profile_path(@profile['id']),  class: "fs-4 position-absolute end-0 btn btn-warning" %>
  <div class="d-flex flex-column gap-2 align-items-center mt-5">
    <div class="position-relative d-flex align-items-center justify-content-center w-100">
      <h1 class="text-danger">
        <%= @profile['name']  %>
      </h1>
    </div>
    <p class="fs-3">
      <%= @profile['description'] %>
    </p>
  </div>
  <div class="mt-3 row gap-4 justify-content-center">
    <div class="col-md  h-full d-flex flex-column justify-content-center align-items-start">
      <% @profile['traits'].each do |trait| %>
        <span class="fs-4">
          <%= trait['description']%>.
        </span>
      <% end %>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <%= 
        image_tag(@profile['image'], size:"250x250", class: "rounded") 
      %>
    </div>
  </div>
</div>
