<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Portfolio Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="d-flex h-100 d-inline-block">
    <%= render "shared/navbar" %>
    <div class="mh-100 border border-primary w-100 p-4 overflow-y-auto">
      <div>
        <%= link_to "Portfolio Manager", root_path, class: "nav-link text-dark text-center fs-1 fw-bolder mb-2 border-bottom border-primary py-2 text-start" %>
      </div>
      <div class="p-2">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </div >
  </body>
</html>
