<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Portfolio Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>
  <body class="d-flex vh-100 d-inline-block">
    <%= render "shared/navbar" %>
    <div class="w-100 p-4 d-flex flex-column">
      <div style="max-height: 10%;" class="mh-10 h-100">
        <%= link_to "Portfolio Manager", root_path, class: "nav-link text-dark text-center fs-1 fw-bolder mb-2 border-bottom border-primary py-2 text-start" %>
      </div>
      <div style="max-height: 90%;" class="mh-90 h-100 5 d-flex flex-column justify-content-center mh-75 overflow-y-auto">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </div >
  </body>
</html>
